<h1>Įrašai <strong><%= Article.public_count %></strong></h1>

<%= form_tag :method => "get" do %>
    <%= label_tag(:search, "Ieskome irasu:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :title => nil) %>
<% end %>

<ul>
<% @articles.each do |article| %>
    <% unless article.archived? %>
        <li>
            <%= link_to article.title, article %>
        </li>
    <% end %>
<% end %>
</ul>

<hr>

<%= link_to "Naujas įrašas", new_article_path %>