
<h2><%= @article.title %></h2>
<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Redaguoti", edit_article_path(@article) %></li>
    <li><%= link_to "Trinti", article_path(@article), method: :delete, data: {confirm: "Ar tikrai norite ištrinti?"} %></li>
</ul>


<%= render @article.comments %>
<%= render 'comments/form' %>
